.cert-row {
    display: grid;
    grid-template-columns: 80px 3fr 2fr 1fr auto;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.cert-image img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}