---
title: Edukacja
icon: fa-graduation-cap
order: 1
---
<div class="row">
    {% for e in site.data.education %}
        <div class="6u 12u$(mobile)">
            <div class="item">
                {% if e.image %}
                    <a href="#" class="image fit"><img src="{{ e.image | relative_url }}"/></a>
                {% endif %}
                {% if e.name %}
                    <p>{{e.name}}</p>
                {% endif %}
                {% if e.date %}
                    <p>{{e.date}}</p>
                {% endif %}
                {% if e.description %}
                    <p>{{e.description}}</p>
                {% endif %}
                {% if e.description2 %}
                    <p>{{e.description2}}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>