---
title: Edukacja
icon: fa-graduation-cap
order: 1
---

<div class="row">
    {% for e in site.data.education %}
        <div class="6u 12u$(mobile)">
            <div class="item">
                {% if e.image %}
                    <a href="#" class="image fit"><img src="{{ e.image | relative_url }}"/></a>
                {% endif %}
                <p>{{e.name}}</p>
                <p>{{e.date}}</p>
                {% if e.description and e.description2 %}
                    <p>{{e.description}}<br>{{e.description2}}</p>
                {% else %}
                        <p>{{e.description}}</p>
                        <p>{{e.description2}}</p>
                        <p>{{e.description3}}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>