---
title: Doświadczenie
description: zawodowe jak i pozazawodowe
icon: fa-briefcase
order: 3
---

<div class="row">
    {% for e in site.data.experience %}
        <div class="4u 12u$(mobile)">
            <div class="item">
                {% if e.image %}
                    <a href="#" class="image fit"><img src="{{ e.image | relative_url }}"/></a>
                {% endif %}
                {% if e.name %}
                    <h2>{{e.name}}</h2>
                {% endif %}
                <p>
                    <h1>{{e.date}}</h1><br>
                    {{e.description}}
                </p>
                {% if c.link %}
                    <a href="{{ e.github }}" target="_blank" rel="noopener">GitHub</a>
                {% endif %}
            </div>
        </div>    
    {% endfor %}
</div>
