---
layout: default
---
{%- assign _skills = site.sections-skills | sort: 'order' -%}
{%- include header.html scrolly_nav=_skills -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Skills List -->
	{%- for _skill in _skills -%}
		<section>
			<header>
				<h3>{{- _skill.title -}}</h3>
			</header>

			<p>{{- _skill.description -}}</p>

			<!--a href="{{- _skill.url | absolute_url -}}">Sprawdź</a-->
		</section>
	{%- endfor -%}
</div>